/system_index.txt
/system_settings.json
/app.db
/app.log
/electron-app/node_modules/
/electron-app/app.db
/electron-app/app.log
/electron-app/backend/go_build_WSA_WSA
/electron-app/system_index.txt
electron-app/dist/mac-arm64
/node_modules# Build artifacts
node_modules/
**/dist/
**/*.dmg
**/*.blockmap
**/*.app
**/*.asar
# Local DB/logs
**/*.db
**/*.log
# Large generated indexes
WSA/system_index.txt
electron-app/.tmp-venv
electron-app/python/*
electron-app/.tmp-venv-whisper
electron-app/Files